<head>
  <style>
    body {
    background-color: linen;
  }

  form {
    text-align: center;
  }

  </style>

</head>
<h1>My Bookmarks</h1>
<a href="/bookmarks/add"> Add a bookmark </a>
<ul>
  <% @bookmarks.each do |bookmark| %>
    <li> 
      <a href="<%= bookmark.url%>">
        <%= bookmark.title %>
      </a>
      <form action="/bookmarks/<%= bookmark.id %>" method="post">
        <input type='hidden' name='_method' value='DELETE'/>
        <input type="submit" value="Delete"> 
      </form>
      <form action="/bookmarks/<%= bookmark.id %>/edit" method="get">
        <input type="submit" value="Edit" />
      </form>
    </li>
  <% end %>
</ul>
<p>
  <%= flash[:notice] %>
</p>
